@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    background-color: none;
    min-height: calc(100vh - 65px);
    width: 1320px;
    margin: auto;
    margin-top: 48px;

    .info-container {
        float: left;
        width: 38%;
        min-height: calc(100vh - 65px);
        margin-left: 10px;
        margin-right: 10px;

        .badges {
            height: 20px;
            width: 271px;
            border-radius: 2px 0 0 2px;
            display: inline-flex;

            .ready-to-ship {
                width: 90px;
                height: 20px;
                background-image: linear-gradient(270deg, #F5515F 0%, #FF7527 100%);
                border-radius: 2px 0 0 2px;
                text-align: center;

                span {
                    color: #FFFFFF;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .badge-icon {
                color: #FF6600;
                height: 15px;
                float: left;
                transform: translateY(2px);
            }

            .in-stock {
                background-color: #FFF0E6;
                width: 75px;
                height: 20px;
                border-radius: 2px 0 0 2px;
                text-align: center;

                span {
                    color: #FF6600;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: left;
                    transform: translateY(2px);
                    float: left;
                }
            }

            .fast-dispatch {
                background-color: #FFF0E6;
                width: 106px;
                height: 20px;
                border-radius: 2px 0 0 2px;
                text-align: center;

                span {
                    color: #FF6600;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: left;
                    transform: translateY(2px);
                    float: left;
                }
            }
        }

        .product-title {
            display: block;
            max-width: 100%;
            margin-top: 10px;
            color: #333333;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 24px;
            width: 526px;
            text-align: left;
            font-weight: 600;

            .hot-sale-products {
                background-color: #EDF0F3;
                border-radius: 2px;
                width: 111px;
                height: 20px;
                color: #999999;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
            }
        }

        .ratings-box {
            width: 46%;
            height: 16px;
            display: flex;
            margin-top: 10px;

            div {
                width: 60px;
            }

            .rating-number {
                margin-left: 1px;
                color: #FF6600;
                font-family: Roboto;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                transform: translateY(2.6px);
            }

            .total-reviews {
                margin-left: 6px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                transform: translateY(3px);
            }

            .total-buyers {
                color: #333333;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                transform: translateY(3px);
                margin-left: 20px;
                font-weight: 600;
            }
        }

        .price-box {
            width: 100%;
            margin-top: 10px;
            border-top: 1px solid rgba(153, 153, 153, 0.5);
            border-bottom: 1px solid rgba(153, 153, 153, 0.5);
            padding: 10px 0 10px 0;

            .new-price {
                color: #FF6600;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: left;
                font-weight: 600;
            }

            .per-option {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                margin-left: 10px;
                margin-right: 10px;
            }

            .options {
                color: #333333;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                font-weight: 600;
                margin-right: 5px;
            }

            .min-order {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
            }

            .old-price {
                margin-block-start: 0.3em;
                margin-block-end: 0em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
            }
        }

        .march-expo {
            width: 100%;
            background-color: #FFF0E6;
            margin-top: 15px;
            height: 40px;
            display: flex;

            .logo {
                width: 76px;
                height: 100%;
            }

            .free-shipping {
                color: #FF6600;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                transform: translateY(14px);
                margin-left: 20px;
                margin-right: 20px;
            }

            .delivery {
                color: #FF6600;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                transform: translateY(14px);
            }

            .arrow {
                width: 8px;
                height: 14px;
                transform: translateY(14px);
                margin-left: 20px;
            }
        }

        .countdown-timer {
            width: 100%;
            margin-top: 25px;

            .discount-amount {
                color: #FF6600;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
            }

            .discount-text {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                margin-left: 5px;
            }

            .discount-clock {
                height: 16px;
                width: 16px;
                margin-left: 18px;
                transform: translateY(2px);
                margin-right: 10px;
            }

            .countdown-clock {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: left;
            }
        }

        .trade-assurance {
            width: 100%;
            margin-top: 24px;

            img {
                width: 12px;
                height: 14px;
                transform: translateY(2px);
            }

            .main-text {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                margin-left: 5px;
                font-weight: 600;
            }

            .sub-text {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                margin-left: 5px;
            }
        }

        .payments {
            margin-top: 12px;

            span {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                margin-right: 4px;
            }

            img {
                margin-right: 4px;
                transform: translateY(2px);
            }
        }

        .links {
            margin-top: 12px;

            .link {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                margin-right: 24px;
            }
        }
    }

    .add-container {
        float: right;
        width: 30%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
        background-color: #FFFFFF;
        border-radius: 8px;

        .left-top {
            float: left;
            width: 45%;
            padding-left: 24px;
            margin-top: 28px;

            .ship-title {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
            }
        }

        .right-top {
            display: inline;
            float: right;
            width: 40%;
            text-align: right;
            padding-right: 24px;
            margin-top: 28px;
            height: 36px;


            .ship-total {
                color: #333333;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 24px;
                text-align: right;
                font-weight: 600;

            }
        }

        .lead-shipping-times {
            margin-top: 12px;
            float: left;
            padding-left: 24px;

            .sub-text {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
            }

            .sub-text-shipping {
                color: #999999;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 35px;
                text-align: left;
                margin-top: 12px;

            }

            img {
                margin-left: 10px;
                transform: translateY(2px);
            }
        }

        .right-btn-container{
            align-content: center;

            .login-btn {
                background-color: #FF6600;
                border-radius: 20px;
                width: 258px;
                height: 40px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 14px;
                line-height: 20px;
                width: 210px;
                text-align: center;
                border: none;
                transform: translateX(45%);
                margin-top: 16px;
            }

            .contact-btn {
                font-size: 14px;
                line-height: 20px;
                width: 210px;
                text-align: center;
                border: none;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 20px;
                height: 40px;
                background-color: rgba(255, 255, 255, 0);
                border: 1px solid #FF6600;
                color: #FF6600;
                transform: translateX(45%);
                margin-top: 12px;
                margin-bottom: 24px;

                img{
                    transform: translateY(1px);
                    margin-right: 12px;
                }
            }
        }

       
    }
}
